{% extends 'base.html' %}

{% block content %}
{{error}}
<form action:"/registrarse/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" name= "username" id="username" aria-describedby="emailHelp" placeholder="Ingresa tu usuario">
    </div>
    <div class="form-group mt-2">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" name= "password1" id="password1" placeholder="Ingresa tu contraseña">
    </div>
    <div class="form-group mt-2">
        <label for="exampleInputPassword1">Repite la contraseña</label>
        <input type="password" class="form-control" name= "password2" id="password2" placeholder="Repetir contraseña">
    </div>
    <button type="submit" class="btn rounded-pill btn-purple mt-2">Registrar</button>
</form>
{% endblock %}
